@charset "UTF-8";

#side-category-menu{
	width : 15%;
	display: block;
	margin-left:1.5%;
	float: left;
}

#side-category-menu_title{
	background-color: rgb(245, 106, 106);
	text-align: center;
	vertical-align: middle;
	font-weight: bold;
	color: white;
}
#side-category-menu_title_category{
	padding: 5px;
	padding-left: 10px;
}

#side-category-menu_title_category a{
	text-decoration: none;
	border-bottom: none;
	color: #7f888f;	
}

#category-content{
	width:83%;
	display: inline-flex;
}

#category-content .posts {
	display: -moz-flex;
	display: -webkit-flex;
	display: -ms-flex;
	display: flex;
	-moz-flex-wrap: wrap;
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	margin: 0 0 0 0;
	width:100%;
}

.posts article {
   -moz-flex-grow: 0;
   -webkit-flex-grow: 0;
   -ms-flex-grow: 0;
   flex-grow: 0;
   -moz-flex-shrink: 1;
   -webkit-flex-shrink: 1;
   -ms-flex-shrink: 1;
   flex-shrink: 1;
   margin: 0 0 3% 4%;
   position: relative;
   /*width: calc(33.33333% - 6em);*/
}

.mypage-title{
	font-size: 3em;
	color: #f56a6a;
	width: 100%;
	border-bottom: 1px solid #7f888f;
	margin: 0 0 20px 0;
	padding: 0 0 19px 3%;
}
.mypage-title a{
	border-bottom: none;
}

.mypage-subtitle{
	font-size: 2em;
	padding: 0 0 3% 3%;
	width: 100%;
}

.mypage-subtitle span{
	padding:0;
	margin:0;
	border-bottom: solid 3px #f58a8a;
}

.mypage-subtitle :last-child{
	font-size:0.7em;
	padding:1% 0 0 0;
	float:right;
	margin:0 4% 0 0;
	bottom:0;
	border-bottom: dotted 1px;
	color: #f56a6a;
	text-decoration: none; 
}

.bookmark-book-content{
	width: 100%;
}

.articles{
	margin:0;
	padding:0;
	width: 100%;
	float: left;
	display: inline-flex;
}

.more:hover{
	cursor: pointer;
	font-weight: bold;
	border-bottom: dotted 3px;
}

.view-more{
	width:100%;
	text-align:center;
	display: block;
}

.hidden{
	display: none;
}
