@charset "UTF-8";

#side-category-menu{
	width : 15%;
	display: block;
	margin-left:1.5%;
	float: left;
}

#side-category-menu_title{
	background-color: rgb(245, 106, 106);
	text-align: center;
	vertical-align: middle;
	font-weight: bold;
	color: white;
}
#side-category-menu_title_category{
	padding: 5px;
	padding-left: 10px;
}

#side-category-menu_title_category a{
	text-decoration: none;
	border-bottom: none;
	color: #7f888f;	
}

#category-content{
	width:83%;
	display: inline-block;
}

#category-content .posts {
	display: -moz-flex;
	display: -webkit-flex;
	display: -ms-flex;
	display: flex;
	-moz-flex-wrap: wrap;
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	margin: 0 0 0 0;
	width:100%;
}

.posts article {
   -moz-flex-grow: 0;
   -webkit-flex-grow: 0;
   -ms-flex-grow: 0;
   flex-grow: 0;
   -moz-flex-shrink: 1;
   -webkit-flex-shrink: 1;
   -ms-flex-shrink: 1;
   flex-shrink: 1;
   margin: 0 0 3% 4%;
   position: relative;
   /*width: calc(33.33333% - 6em);*/
}

.posts article .image img {
    display: block;
    width: 100%;
}

.mypage-title{
	font-size: 3em;
	color: #f56a6a;
	width: 100%;
	border-bottom: 1px solid #7f888f;
	margin: 0 0 20px 0;
	padding: 0 0 19px 3%;
}
.mypage-title a{
	border-bottom: none;
}

.mypage-subtitle{
	font-size: 2em;
	padding: 0 0 3% 3%;
	width: 100%;
}

.mypage-subtitle span{
	padding:0;
	margin:0;
	border-bottom: solid 3px #f58a8a;
}

.mypage-subtitle :last-child{
	font-size:0.7em;
	padding:1% 0 0 0;
	float:right;
	margin:0 4% 0 0;
	bottom:0;
	border-bottom: dotted 1px;
	color: #f56a6a;
	text-decoration: none; 
}

.articles{
	margin:0;
	padding:0;
	width: 100%;
	float: left;
	display: inline-block;
}

.more:hover{
	cursor: pointer;
	font-weight: bold;
	border-bottom: dotted 3px;
}

.view-more{
	width:100%;
	text-align:center;
	display: block;
}

.hidden{
	display: none;
}

.cursor {
	cursor:pointer; 
}

.bookmark-div-articles{
	display:inline-flex;
}
.recent-div-articles{
	display:inline-flex;
}

.recent-book-content{
	display:inline-block;
}
.bookmark-book-content{
	display:inline-block;
}

.review-book-list{
	display:inline-flex;
}

/* 병문스 */

/* 별점 */
.star_smallR1 {
	background:
		url('../../images/star_small.png')
		no-repeat -26px 0;
	background-size: auto 100%;
	width: 7.5px;
	height: 15px;
	float: left;
	text-indent: -9999px;
}

.star_smallR2 {
	background:
		url('../../images/star_small.png')
		no-repeat right 0;
	background-size: auto 100%;
	width: 7.5px;
	height: 15px;
	float: left;
	text-indent: -9999px;
}

#rating>span {
	cursor: pointer;
}

#avg_rating {
	display: inline-block;
	height: 30px;
}

#rating {
	display: inline-block;
	height: 20px;
	margin-left: 20px;
	position: relative;
	top: -3px;
}

.reviewForm2>span {
	width: 8px;
	height: 16px;
}

.starR1.on {
	background-position: 0 0;
}

.starR2.on {
	background-position: -15px 0;
}

.star_smallR1.on {
	background-position: 0 0;
}

.star_smallR2.on {
	background-position: -7.5px 0;
}

/* 리뷰 */
#reviews {
	width:100%;
	padding: 0 17% 0 0%;
}
.review {
    width: 70%;
    margin: 5.625% 5% 0 0;
}

.reviewForm-base{
	width:100%;
	display: inline-flex;
}

.reviewForm-base :after{
	
	border-bottom: 1px solid #dadada;
}



.review-cover{
	height:100%;
	width: 30%;
	text-align: -webkit-center
}

.review-cover-img{
	width: 50%;
	height:100%;
	margin-bottom: 5%;
}

@media screen and (max-width: 1920px) {

			.review-cover article {
				margin: 0 0.5em 0.5em 0;
				width: calc(70% - 1em);
			}

				.review-cover article:nth-last-child(3) {
					margin-bottom: 5%;
				}

		}
		
@media screen and (max-width: 480px) {
	
				.review-cover-img{
				width: 50%;
				height:100%;
				margin-bottom: 5%;
			}

			.review-cover article {
				margin: 0 0 3% 4%;
				width: calc(80% - 1em);
			}

				.review-cover article:nth-last-child(3) {
					margin-bottom: 5%;
				}

		}

.reviewForm0 {display: none;}

.reviewForm1 {
	font-size: 15px;
	color: #2a2a2a;
	line-height: 25px;
	font-weight: 800;
	display: inline;
}

.reviewForm2 {
	display: inline-block;
	margin-left: 15px;
	position: relative;
	top: 2px;
}

.reviewForm3 {
	font-size: 13px;
	color: black;
	line-height: 18px;
	word-break: break-all;
	padding: 5px;
}

.reviewForm4 {
	display: inline;
}

.reviewForm5 {
	float: right;
	display: inline-block;
}

.rating_point {
	display: none;
}

.page-number {
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	border: none;
}

.good, .bad {
	float: left;
	position: relative;
	min-width: 15px;
	padding: 1px 7px;
	margin: 0 2px;
	margin-bottom: 2px;
	border: 1px solid #ededed;
	background-color: #fff;
	cursor: pointer;
}

.good:hover, .bad:hover {
	background-color: rgba(245, 106, 106, 0.05);
}

.good>img, .bad>img {
	width: 15px;
	margin-right: 2px;
}

.good>a, .bad>a {
	color: #7f888f;
	border: none;
}

#review-submit {
	font-family: "Roboto", sans-serif;
	text-transform: uppercase;
	outline: 0;
	border: 0;
	font-size: 12px;
	cursor: pointer;
	border-radius: 5px;
	margin: -30px 0 10px 15px;
}

#review-page {
	text-align: center;
}
