@charset "UTF-8";

/* General styles for all menus */
.cbp-spmenu {
	background: #f5f6f7;
	position: fixed;		/* 메뉴 위치설정 */
}

.cbp-spmenu h3 {
	color: #afdefa;
	font-size: 1.9em;
	padding: 20px;
	margin: 0;
	font-weight: 300;
	background: #0d77b6;
}

.cbp-spmenu a {
	display: block;
	color: #fff;
	font-size: 1.1em;
	font-weight: 300;
}

.cbp-spmenu a:hover {
	background: #258ecd;
}

.cbp-spmenu a:active {
	background: #afdefa;
	color: #47a3da;
}

/* Orientation-dependent styles for the content of the menu */

.cbp-spmenu-vertical {
	width: 400px;
	height: 100%;	/* 메뉴길이 */
	top: 0;
	z-index: 850;
}

.cbp-spmenu-vertical a {
	border-bottom: 1px solid #258ecd;
	padding: 1em;
}


/* Vertical menu that slides from the left or right */

.cbp-spmenu-left {
	left: -400px;
}

.cbp-spmenu-left.cbp-spmenu-open {
	left: 0px;
}


/* Transitions */

.cbp-spmenu,
.cbp-spmenu-push {
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	transition: all 0.5s ease;
}